body {
  background-image: url('../img/stock.jpg');
  color: rgb(95, 39, 237);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 170vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  font-size: 150%;
  padding: 10px;
  margin: 10px;
}
.container {
  background-color: aliceblue;
  opacity: .75;
  border-radius: 50px;
  border-color: rgb(6, 4, 1);
  border: 10px;
  padding: 20px;
  margin: 10px;
  align-items: left;
}
#submit-results {
  background-color: blueviolet;
  color: rgb(20, 220, 90);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p1 {
  color: red;
  font-size: 75%;
}
h1 {
  color: chartreuse;
  text-align: center;
  background-color: black;
  border-radius: 100px;
}
pre {
  color:cadetblue;
  font-style: unset;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 80%;
  background-color: bisque;
  background-image: url('../img/flags2.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#show-results {
  background-color: brown;
  color: tan;
  border-radius: 9px;
  font-size: 120%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
